@media screen and (max-width: 568px) { 
body{
        margin-left: 0;
        margin-right: 0;
    }

    #logo img{
    width: 720px;
    background-color: #579C87;
    padding-left: 155px;
    padding-right: 185px;
    }

#bloc_page{
    width: 240%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
}

    footer{
        height: 200px;
        width: 100%;
        background-color: #579C87;
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    footer button{
        height: 100%;
        padding: 17px;
        font-size: 50px;
        background-color: #579C87;
        border: none;
        color: #FDCB46;
        font-family: Montserrat, sans-serif;
    }

    .container_bouton{
        margin-bottom: 350px;
    }

    .btn {
        font-size: 3.5rem;
        padding: 4.2rem 5rem;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }

    #bloc_menu_1{
        width: 115%;
        display: block;
    }

    #bloc_menu_2{
        width: 115%;
        display: block;
        height: 70em;
    }

    #bloc_menu_3{
        width: 115%;
        display: block;
        height: 80em;
    }

    #bloc_menu_4{
        width: 115%;
        display: block;
        height: 80em;
    }

    .mentions_legales{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}