@media screen and (max-width: 768px) { 
body{
        margin-left: 0;
        margin-right: 0;
    }

    #logo img{
    /* width: 720px; */
    background-color: #579C87;
    /* padding-left: 155px; */
    /* padding-right: 185px; */
    }

#bloc_page{
    width: 240%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
}

    footer{
        height: auto;
        width: 100%;
        background-color: #579C87;
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    footer button{
        height: 100%;
        padding: 17px;
        /* font-size: 50px; */
        background-color: #579C87;
        border: none;
        color: #FDCB46;
        font-family: Montserrat, sans-serif;
    }

    .btn {
        /* font-size: 3.5rem;
        padding: 4.2rem 5rem; */
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }

    #bloc_menu_1{
        width: 115%;
        display: block;
    }

    #bloc_menu_2{
        width: 115%;
        display: block;
        height: 70em;
    }

    #bloc_menu_3{
        width: 115%;
        display: block;
        height: 80em;
    }

    #bloc_menu_4{
        width: 115%;
        display: block;
        height: 80em;
    }

    .menu_bloc_1, .menu_bloc_2{
        padding-left: 10px;
        padding-right:10px;
        display:block;

    }
    .menu{
        width:auto;
        display:block;
        text-align:center;
    }

    .mentions_legales{
        display: grid;
        font-size: 2em;
    }
}