body{
    margin: 0;
}

#bloc_page{
    margin: auto;
}

#logo h1{
    font-family: 'Chivo', sans-serif;
    font-size: 2.5em;
    color: #F9CC27;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 15px;
}

header{
    background-color: #61A682;
}

/* !!!!!!!!! Bouton Prochainemment !!!!!!!!! */
$cd-btn: #61A682;
.btn {
    background: $cd-btn;
    font-size: 1.4rem;
    margin-top: 30px;
	padding: 1.2rem 2rem;
	border-radius: 20px;
    border: 1px solid #F9CC27;
    font-family: Montserrat, sans-serif;
}

.container_bouton{
    display: flex;
	justify-content: center;
    margin-bottom: 150px;
    margin-top: 50px;
}

.btn a{
	text-decoration: none;
	color: #F9CC27;
}
/* Animation des points de suspensions */
.btn{
    #point_1 {
        background: #F9CC27;
        opacity: 0.5;
    }
    
    #point_2 {
        background: #F9CC27;
        opacity: 0.7;
        animation-delay: -1.1s;
    }
    
    #point_3 {
        background: #F9CC27;
        opacity: 0.9;
        animation-delay: -0.9s;
    }
    
    .point {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 10px;
        animation: points_suspension 1.3s linear infinite;
    }
    
    @keyframes points_suspension {
        0%, 60%, 100% {
            transform: translateX(0);
        }
        30% {
            transform: translateY(-15px);
        }
    }
}

/* !!!!!!!!! Footer !!!!!!!! */
footer{
    height: 70px;
    width: 100%;
    background-color: #61A682;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
}
// footer button{
footer a {
    height: 100%;
    padding: 17px;
    font-size: 22px;
    background-color: #61A682;
    border: none;
    color: #FDCB46;
    font-family: Montserrat, sans-serif;
}

// button:hover{
footer a:hover{
    animation: wiggle 75ms infinite;
    animation-timing-function: linear;
}

footer a{
    color: #FDCB46;
}

@keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
}

/* !!!!!!!!!! Mentions Légales !!!!!!!!!! */
.mentions_legales{
    // max-width: 1000px;
    text-align: center;
    // margin-left: auto;
    // margin-right: auto;
}

/* !!!!!!!!!! Carte des Menus !!!!!!!!!! */

main section{
    display:flex;
    justify-content: center;
}

/* Menu */
#carte_1{
    width: 250px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    box-shadow: 5px 10px 10px lightgrey;
    display: flex;
    flex-direction: column;
    background-color: #fcdfdb;
}
.carte_titre, .carte_titre_2, .carte_titre_3, .carte_titre_4{
    text-align:center;
    height: 350px;
}
h3{
    font-family: 'Cookie', cursive;
    font-size: 1.5em;
}
h4{
    font-family: cursive;
    font-size: 2.5em;
}
a{
    text-decoration: none;
    color: black;
}
#carte_1 .carte_titre{
    /* me permet de faire le zoom tout en gardant la largeur du cadre et en utilisant les fonctions :hover en dessous */
    overflow: hidden; /* permet de cacher le débordement du zoom */
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
#carte_1 .carte_titre:hover {
    transition-property: transform;
    transition-duration: 500ms;
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
}
#carte_2{
    width: 250px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    box-shadow: 5px 10px 10px lightgrey;
    display: flex;
    flex-direction: column;
    background-color: #FFF5FE;
}
.menu_degrade2{
    /* Titre du Menu */
    // padding-top: 50px;
    // font-weight: bold;
    color: white;
    background: linear-gradient(to left, #6E4CCC 0%,  #A56799 50%, #C67412 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lobster Two', cursive;
}
.color_menu{
    color: #C67412;
    font-family: 'Donegal One', serif;
    font-family: 'Jomolhari', serif;
}
#carte_2 .carte_titre_2{
    /* me permet de faire le zoom tout en gardant la largeur du cadre et en utilisant les fonctions :hover en dessous */
    overflow: hidden; /* permet de cacher le débordement du zoom */
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
#carte_2 .carte_titre_2:hover {
    transition-property: transform;
    transition-duration: 500ms;
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
}
#carte_3{
    width: 250px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    box-shadow: 5px 10px 10px lightgrey;
    display: flex;
    flex-direction: column;
    background-color: #EDEFEF;
}
.menu_degrade3{
    /* Titre du Menu */
    font-family: 'Dancing Script', cursive;
    color: white;
    background: linear-gradient(to left, #C5E0F9 0%, #0228DD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.color_menu_3{
    color: #0228DD;
}
#carte_3 .carte_titre_3{
    /* me permet de faire le zoom tout en gardant la largeur du cadre et en utilisant les fonctions :hover en dessous */
    overflow: hidden; /* permet de cacher le débordement du zoom */
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
#carte_3 .carte_titre_3:hover {
    transition-property: transform;
    transition-duration: 500ms;
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
}
#carte_4{
    width: 250px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    box-shadow: 5px 10px 10px lightgrey;
    display: flex;
    flex-direction: column;
    background-color: #FDFFFD;
}
.menu_degrade4{
    /* Titre du Menu */
    font-family: 'Kaushan Script', cursive;
    color: white;
    background: linear-gradient(to left, #BFFF80 0%, #3E923A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.color_menu_4{
    color: #3E923A;
}
#carte_4 .carte_titre_4{
    /* me permet de faire le zoom tout en gardant la largeur du cadre et en utilisant les fonctions :hover en dessous */
    overflow: hidden; /* permet de cacher le débordement du zoom */
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
#carte_4 .carte_titre_4:hover {
    transition-property: transform;
    transition-duration: 500ms;
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
}

/* Changement Opacity au survol des Menu */
.opacity{
    opacity: 1;
}

.opacity:hover{
    opacity: 0.6;
}


.entree, .plat, .dessert{
    font-family: 'Cookie', cursive;
    font-size: 1.3em;
}

.container_1{
    color: #C67412;
}
.container_2{
    color: #A56799;
}
.container_3{
    color: #6E4CCC;
    padding-bottom: 50px;
    margin-bottom: 80px;
}

.container_1_menu3, .container_2_menu3, .container_3_menu3{
    color: black;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3em;
}

.container_3_menu3{
    margin-bottom: 80px;
    padding-bottom: 50px;
}

.titre_souligne, .titre_souligne_2, .titre_souligne_3{
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3em;
}

.titre_souligne_menu2, .titre_souligne_2_menu2, .titre_souligne_3_menu2{
    font-family: 'Signika', sans-serif;
    font-size: 1.2em;
}
.titre_souligne_menu2{
    color: #C67412;
}
.titre_souligne_2_menu2{
    color: #A56799;
}
.titre_souligne_3_menu2{
    color: #6E4CCC;
} 

.titre_souligne_menu3, .titre_souligne_2_menu3, .titre_souligne_3_menu3{
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3em;
}

/*  Menu 2 - soulignement  */
#phrase1 :after{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: #C67412;
}

#phrase1 :hover:after {
        width: 100%;
}

#phrase1 {
    display: inline;
    position: relative;
    color: #C67412;
    text-decoration: none;
}

#phrase1 a{
    color: #C67412;
}

#phrase2 :after{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: #A56799;
}

#phrase2 :hover:after {
        width: 100%;
}

#phrase2 {
    display: inline;
    position: relative;
    color: #C67412;
    text-decoration: none;
}

#phrase2 a {
    color: #A56799;
}

#phrase3 :after{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: #6E4CCC;
}

#phrase3 :hover:after {
        width: 100%;
}

#phrase3 {
    display: inline;
    position: relative;
    color: #6E4CCC;
    text-decoration: none;
}

#phrase3 a {
    color: #6E4CCC;
}

/*  Menu 1 - soulignement */
.titre_souligne {
    display: inline;
    position: relative;
    color: black;
    text-decoration: none;
}

.titre_souligne:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: black;
}

.titre_souligne:hover:after {
        width: 100%;
}

.titre_souligne_2 {
    display: inline;
    position: relative;
    color: black;
    text-decoration: none;
}

.titre_souligne_2:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: black;
}

.titre_souligne_2:hover:after {
        width: 100%;
}

.titre_souligne_3 {
    display: inline;
    position: relative;
    color: black;
    text-decoration: none;
}

.titre_souligne_3:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: black;
}

.titre_souligne_3:hover:after {
        width: 100%;
}

/*  Menu 3 - soulignement */
.titre_souligne_menu3 {
    display: inline;
    position: relative;
    color: black;
    text-decoration: none;
}

.titre_souligne_menu3:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: black;
}

.titre_souligne_menu3:hover:after {
        width: 100%;
}

.titre_souligne_2_menu3{
    display: inline;
    position: relative;
    color: black;
    text-decoration: none;
}

.titre_souligne_2_menu3:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: black;
}

.titre_souligne_2_menu3:hover:after {
        width: 100%;
}

.titre_souligne_3_menu3 {
    display: inline;
    position: relative;
    color: black;
    text-decoration: none;
}

.titre_souligne_3_menu3:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: black;
}

.titre_souligne_3_menu3:hover:after {
        width: 100%;
}

h1{
    text-align: center;
    font-size: 1.5em;
}
h2{
    font-family: 'Cookie', cursive; /* Menu 1 */
    font-size: 3.5em;
}

.icone{
    font-size: 1.5em;
}

.nom_menu{
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
}

/* Dégradé de l'icone "Music" */
.fa-music:before {
    background: -webkit-linear-gradient(360deg, #e24a56, #eb944d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu_titre{
    text-align: center;
}
.m_titre{
    display:flex;
    justify-content: center;
}

/* Menu 1 */
/* entree */
.trait_gauche{
    margin-right: 30px;
    height: 1vw;
}
.trait_droit{
    margin-left: 30px;
    height: 1vw;
}
/* plat */
.trait_gauche2{
    margin-right: 10px;
    height: 1vw;
}
.trait_droit2{
    margin-left: 10px;
    height: 1vw;
}
/* dessert*/
.trait_gauche3{
    margin-right: 0px;
    height: 1vw;
}
.trait_droit3{
    margin-left: 0px;
    height: 1vw;
}

/* Menu dégradé (Menu 2) */
.menu_degrade{
    /* Titre du Menu */
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Lobster Two', cursive;
    color: white;
    background: linear-gradient(to left, #6E4CCC 0%,  #A56799 50%, #C67412 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Menu dégradé (Menu 3) */
.menu_degrade_2{
    /* Titre du Menu */
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color: white;
    background: linear-gradient(to left, #C5E0F9 0%, #0228DD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Menu dégradé (Menu 4) */
.menu_degrade_3{
    /* Titre du Menu */
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
    color: white;
    background: linear-gradient(to left, #BFFF80 0%, #3E923A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* entree */
.trait_gauche_menu2{
    margin-right: 0px;
    height: 1vw;
}
.trait_droit_menu2{
    margin-left: 0px;
    height: 1vw;
}
/* plat */
.trait_gauche2_menu2{
    margin-right: 20px;
    height: 1vw;
}
.trait_droit2_menu2{
    margin-left: 20px;
    height: 1vw;
}
/* dessert*/
.trait_gauche3_menu2{
    margin-right: 5px;
    height: 1vw;
}
.trait_droit3_menu2{
    margin-left: 5px;
    height: 1vw;
}


/* entree */
.trait_gauche_menu3{
    margin-right: 5px;
    height: 1vw;
}
.trait_droit_menu3{
    margin-left: 5px;
    height: 1vw;
}
/* plat */
.trait_gauche2_menu3{
    margin-right: 10px;
    height: 1vw;
}
.trait_droit2_menu3{
    margin-left: 10px;
    height: 1vw;
}
/* dessert*/
.trait_gauche3_menu3{
    margin-right: 10px;
    height: 1vw;
}
.trait_droit3_menu3{
    margin-left: 10px;
    height: 1vw;
}

/* entree */
.trait_gauche_menu4{
    margin-right: 40px;
    height: 1vw;
}
.trait_droit_menu4{
    margin-left: 40px;
    height: 1vw;
}
/* plat */
.trait_gauche2_menu4{
    margin-right: 8px;
    height: 1vw;
}
.trait_droit2_menu4{
    margin-left: 8px;
    height: 1vw;
}
/* dessert*/
.trait_gauche3_menu4{
    margin-right: 5px;
    height: 1vw;
}
.trait_droit3_menu4{
    margin-left: 5px;
    height: 1vw;
}

.menu_entree{
    /* texte du menu et prix alignés chacun aux extrémités */
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    flex: 1 1 0;
    line-height: 1.2rem; /* Espace entre les lignes */
    margin-left: 105px;
    margin-right: 105px;
}


.prix_size{
    font-size: 1.5em;
    margin-top: 15px;
}


#phrase_footer{
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    margin-top: 100px;
    margin-bottom: 80px;
    font-family: 'Cookie', cursive;
    font-size: 1.5em;
}

#phrase_footer i{
    font-size: 60px;
}

.menu_titre img{ 
    width: 33%; /*Modification de la taille des traits du Menu 1*/
}

/* !!!!!!! Page Menu !!!!!!!!*/
#bloc{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 22px -7px black;
    display: flex;
    flex-direction: column;
    background-color: #fcdfdb;
}

#bloc_2 {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 22px -7px black;
    display: flex;
    flex-direction: column;
    background-color: #FFF5FE;
}

#bloc_3 {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 22px -7px black;
    display: flex;
    flex-direction: column;
    background-color: #EDEFEF;
}

#bloc_4 {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 22px -7px black;
    display: flex;
    flex-direction: column;
    background-color: #FDFFFD;
}

/* !!!!!!!! Bouton Retour !!!!!!!!! */
#bouton_retour {
    background: $cd-btn;
    font-size: 1rem;
    margin-top: 30px;
	padding: 1.2rem 2rem;
	border-radius: 20px;
    border: 1px solid #F9CC27;
    font-family: Montserrat, sans-serif;
}

#container_bouton_retour{
    display: flex;
	justify-content: center;
    margin-bottom: 150px;
}

#bouton_retour a{
	text-decoration: none;
	color: #F9CC27;
}